<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--Determines which plugins to use based on if running Gazebo or RViz-->
  <xacro:macro name="hitw_arm_ros2_control" params="prefix use_gazebo">

    <xacro:if value="${not use_gazebo}">
      <ros2_control name="HITWBot" type="system">
        <hardware>
          <plugin>hitw_hardware/HITWBotSystemPositionOnlyHardware</plugin>
          <param name="hw_slowdown">100</param>
        </hardware>

        <joint name="${prefix}joint1">
          <command_interface name="position">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
        </joint>

        <joint name="${prefix}joint2">
          <command_interface name="position">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
        </joint>
      </ros2_control>
    </xacro:if>

    <xacro:if value="${use_gazebo}">
      <ros2_control name="GazeboSystem" type="system">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="${prefix}joint1">
          <command_interface name="position">
            <param name="min">-6.283185307179586</param>
            <param name="max">6.283185307179586</param>
          </command_interface>
          <state_interface name="position"/>
        </joint>

        <joint name="${prefix}joint2">
          <command_interface name="position">
            <param name="min">-6.283185307179586</param>
            <param name="max">6.283185307179586</param>
          </command_interface>
          <state_interface name="position"/>
        </joint>
      </ros2_control>

      <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
          <parameters>$(find hitw_controllers)/config/gazebo_controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>