<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:macro name="hitw_arm_transmissions" params="prefix">

    <transmission name="${prefix}transmission_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}arm_joint_1">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}arm_motor_1">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}transmission_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}arm_joint_2">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}arm_motor_2">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>